/*@import ('../fonts/font-awesome/all.min.css');*/

#unalTop .firstMenu .navbar-default nav li a{
	padding: 0 10px;
}

div.footer-info, div.logos, .fblock {
	display:flex;
}

footer.clear{
	display:block;
}

@media screen and (min-width:768px) {
footer.clear{
	display:flex;
	}
}


/*.navbar-toggler-icon{
	font-family:'Glyphicons Halflings';
	content: "\e114";
}*/

.navbar-toggler {
 position:relative;
 float:right;
 margin-right:15px;
 padding:9px 10px;
 margin-top:8px;
 margin-bottom:8px;
 background-color:transparent;
 background-image:none;
 border:1px solid transparent;
 border-radius:4px
}
.navbar-toggler:focus {
 outline:0
}
.navbar-toggler .icon-bar {
 display:block;
 width:22px;
 height:2px;
 border-radius:1px
}
.navbar-toggler .icon-bar+.icon-bar {
 margin-top:4px
}
@media (min-width:768px) {
 .navbar-toggler {
  display:none
 }
}

.navbar-collapse {
 max-height:340px;
 overflow-x:visible;
 padding-right:15px;
 padding-left:15px;
 border-top:1px solid transparent;
 box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
 -webkit-overflow-scrolling:touch
}
.navbar-collapse.in {
 overflow-y:auto
}
@media (min-width:768px) {
 .navbar-collapse {
  width:auto;
  border-top:0;
  box-shadow:none
 }
 .navbar-collapse.collapse {
  display:block!important;
  height:auto!important;
  padding-bottom:0;
  overflow:visible!important
 }
 .navbar-collapse.in {
  overflow-y:visible
 }

}

.btn.btn-default.dropdown-toggle {
	text-align: left;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
}

@media (min-width:768px) {
.btn {
	text-align: initial;
	}
}


#unalTop .firstMenu #profiles ul.dropdown-menu {
		display:none;
	}
	
#unalTop .firstMenu #profiles ul.dropdown-menu.show {
	display:block;
}	

@media screen and (min-width:768px) {
#unalTop .firstMenu #profiles ul.dropdown-menu {
	display:flex;
	
	}
}

#unalTop .firstMenu .navbar-toggler .icon-bar {
	background: white;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

/*
@media screen and (min-width:768px) {
#unalTop .firstMenu #profiles ul.nav {
	display: block;
	border: 0;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	position: relative;
	background-color: transparent;
	padding: 0;
	}
}
}*/