{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <!--
         =============================================================================
         === PLANTILLA DESARROLLADA POR LA OFICINA DE MEDIOS DIGITALES - UNIMEDIOS ===
         =============================================================================
         -->
      <!--base href="http://subdominio.unal.edu.co/" -->
      <link rel="shortcut icon" href="{% static 'unal/images/favicon.ico' %}" type="image/x-icon">
      <meta name="revisit-after" content="1 hour">
      <meta name="distribution" content="all">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
      <meta name="expires" content="1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="robots" content="all">
      {% include 'dima_backend.html' %}
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/frontend.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/accesibilidad.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/bootstrap-theme.min.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/reset.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/unal.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/base.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/tablet.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/phone.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/small.css' %}" media="all">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/printer.css' %}" media="print">
      <link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'unal/css/fix_styles_bs42bs5.css' %}" media="all">
      <script nonce="{{request.csp_nonce}}" src="{% static 'unal/js/jquery.js' %}" type="text/javascript"></script>
      <script nonce="{{request.csp_nonce}}" src="{% static 'unal/js/unal.js' %}" type="text/javascript"></script>
      <script nonce="{{request.csp_nonce}}" src="{% static 'unal/js/accesibilidad.js' %}" type="text/javascript"></script>
      <script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
      <title>Inicio: Universidad Nacional de Colombia</title>
   </head>
   <body>
      <!-- Servicios -->
      <div id="services">
         <div class="indicator d-none d-md-block"></div>
         <ul class="dropdown-menu" id="servicios">
            <li>
               <a href="http://correo.unal.edu.co" target="_blank"><img
                  src="{% static 'unal/images/icnServEmail.png' %}"
                  width="32"
                  height="32"
                  alt="Correo Electrónico">Correo Electrónico</a>
            </li>
            <li>
               <a href="https://dninfoa.unal.edu.co" target="_blank"><img
                  src="{% static 'unal/images/icnServSia.png' %}"
                  width="32"
                  height="32"
                  alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
            </li>
            <li>
               <a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="{% static 'unal/images/icnServLibrary.png' %}" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
            </li>
            <li>
               <a href="http://personal.unal.edu.co" target="_blank"><img src="{% static 'unal/images/icnServCall.png' %}" width="32" height="32" alt="Convocatorias">Convocatorias</a>
            </li>
            <li>
               <a href="http://identidad.unal.edu.co"><img src="{% static 'unal/images/icnServIdentidad.png' %}" width="32" height="32" alt="Identidad UNAL">Identidad UNAL</a>
            </li>
         </ul>
      </div>
      <!-- Header -->
      <header id="unalTop">
         <!-- Logo -->
         <div class="logo">
            <a href="https://unal.edu.co">
               <!--[if (gte IE 9)|!(IE)]><!-->
               <svg width="93%" height="93%">
                  <image
                     xlink:href="{% static 'unal/images/escudoUnal.svg' %}"
                     width="100%"
                     height="100%"
                     class="hidden-print"
                     alt="Escudo de la Universidad Nacional de Colombia"/>
               </svg>
               <!--<![endif]-->
               <!--[if lt IE 9]> <img src="images/escudoUnal.png" width="93%" height="auto"
                  class="hidden-print"/> <![endif]-->
               <img src="{% static 'unal/images/escudoUnal_black.png' %}" class="d-none d-print-block" alt="Escudo de la Universidad Nacional de Colombia"/>
            </a>
         </div>
         <!-- Seal -->
         <div class="seal">
            <img
               class="hidden-print"
               alt="Escudo de la República de Colombia"
               src="{% static 'unal/images/sealColombia.png' %}"
               width="66"
               height="66"/>
            <img
               class="d-none d-print-block"
               alt="Escudo de la República de Colombia"
               src="{% static 'unal/images/sealColombia_black.png' %}"
               width="66"
               height="66"/>
         </div>
         <!-- Menú superior -->
         <div class="firstMenu d-none d-md-block">
            <div class="content-fluid">
               <nav class="navbar navbar-expand-md nav navbar-dark">
                  <!-- perfiles -->
                  <div class=" collapse navbar-collapse navbar-default" id="navbarSupportedContent">
                     <nav id="profiles">
                        <ul class="mr-auto nav justify-content-end">
                           <!-- <ul class="navbar-nav mr-auto nav justify-content-end"> -->
                           <li class="nav-item item_Aspirantes #>">
                              <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                           </li>
                           <li class="nav-item item_Estudiantes #>">
                              <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                           </li>
                           <li class="nav-item item_Egresados #>">
                              <a href="http://egresados.unal.edu.co">Egresados</a>
                           </li>
                           <li class="nav-item item_Docentes #>">
                              <a href="http://docentes.unal.edu.co">Docentes</a>
                           </li>
                           <li class="nav-item item_Administrativos #>">
                              <a href="http://administrativos.unal.edu.co">Administrativos</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <!-- redes sociales -->
                  <ul class="socialLinks d-none d-md-block">
                     <li >
                        <a
                           href="https://www.facebook.com/UNALOficial"
                           target="_blank"
                           class="facebook"
                           title="Página oficial en Facebook"></a>
                     </li>
                     <li>
                        <a
                           href="https://twitter.com/UNALOficial"
                           target="_blank"
                           class="twitter"
                           title="Cuenta oficial en Twitter"></a>
                     </li>
                     <li>
                        <a
                           href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg"
                           target="_blank"
                           class="youtube"
                           title="Canal oficial de Youtube"></a>
                     </li>
                  </ul>

                  <!-- idioma -->
                  <div class="collapse btn-group languageMenu d-none d-md-block">
                     <div class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">es<span class="caret"></span></div>
                     <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="index.html#">EN - English</a></li>
                        <li><a href="index.html#">GUC - Wayuunaiki</a></li>
                        <li><a href="index.html#">PBB - Nasa yuwe</a></li>
                     </ul>
                  </div>

                  <!--Admin-->
                  <div class="btn-group btn-plain">
                     {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-default">
                        <i class="bi bi-box-arrow-in-left"></i>
                        Logout
                        </a>
                     {% else %}
                        <a href="{% url 'login' %}" class="btn btn-default">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Admin
                        </a>
                     {% endif %}
                   </div>



               </nav>
            </div>
         </div>
         <!-- Menú inferior -->
         <div id="bs-navbar" class="navigation d-none d-md-block">
            <!-- Título del sitio -->
            <div class="site-url" id="subdominio">
               <a href="http://investigacion.manizales.unal.edu.co/">investigacion.manizales.unal.edu.co</a>
            </div>
            <!-- Buscador -->
            <div class="buscador" id="buscador">
               <div
                  class="gcse-searchbox-only"
                  data-resultsurl="https://unal.edu.co/resultados-de-la-busqueda/"
                  data-newwindow="true"></div>
            </div>
            <!-- Main menu -->
            <div class="navbar-dark mainMenu" id="main_menu_container">
               <!-- Items menú principal -->
               {% include 'dima_menu.html' %}
               <!-- Sedes -->
               <div class="btn-group btn-group__right btn-group__right-last menu_sedes">
                  <div class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">Sedes<span class="caret"></span></div>
                  <ul class="dropdown-menu" id="sedes">
                     <li>
                        <a class="dropdown-item" href="http://amazonia.unal.edu.co" target="_blank">Amazonia</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://bogota.unal.edu.co" target="_blank">Bogotá</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://caribe.unal.edu.co" target="_blank">Caribe</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://delapaz.unal.edu.co" target="_blank">De La Paz</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://www.manizales.unal.edu.co" target="_blank">Manizales</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://medellin.unal.edu.co" target="_blank">Medellín</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://orinoquia.unal.edu.co" target="_blank">Orinoquia</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://www.palmira.unal.edu.co" target="_blank">Palmira</a>
                        <span class="caret-right"></span>
                     </li>
                     <li>
                        <a class="dropdown-item" href="http://tumaco-pacifico.unal.edu.co" target="_blank">Tumaco</a>
                        <span class="caret-right"></span>
                     </li>
                  </ul>
               </div>
               <div class="btn-group btn-group__right">
                  <div class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">SIUN<span class="caret"></span></div>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="https://editorial.unal.edu.co/" target="_blank">Editorial UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://extension.unal.edu.co/" target="_blank">Extensión UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://innovacion.unal.edu.co/" target="_blank">Innovación UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://investigacion.unal.edu.co/" target="_blank">Investigación UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://laboratorios.unal.edu.co/" target="_blank">Laboratorios UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://propiedadintelectual.unal.edu.co/" target="_blank">Propiedad Intelectual UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://pensamiento.unal.edu.co/" target="_blank">Escuela de Pensamiento UNAL</a><span class="caret-right"></span></li>
                     <li><a class="dropdown-item" href="https://viceinvestigacion.unal.edu.co/" target="_blank">VRi UNAL</a><span class="caret-right"></span></li>
                  </ul>
               </div>
            </div>
            <!-- Servicios label -->
            <div class="btn-group d-none">
               <div
                  class="btn btn-default dropdown-toggle"
                  data-bs-toggle="dropdown"
                  id="navbarSupportedContent"
                  data-target="#services">Servicios<span class="caret"></span>
               </div>
            </div>
            <!-- Perfiles -->
            <div class="btn-group d-none">
               <div
                  class="btn btn-default dropdown-toggle"
                  data-bs-toggle="dropdown"
                  id="navbarSupportedContent"
                  data-target="#profiles">Perfiles<span class="caret"></span>
               </div>
            </div>
         </div>
         <!--Navbar-->
         <nav class="navbar navbar-light light-blue lighten-4 main_menu">
            <!-- Navbar brand -->
            <a class="navbar-brand d-block d-md-none" href="#"></a>
            <!-- Collapse button -->
            <button
               class="navbar-toggler collapsed d-block d-md-none"
               type="button"
               data-toggle="collapse"
               data-target="#navbar_content"
               aria-controls="navbar_content"
               aria-expanded="false"
               aria-label="Toggle navigation"
               id="btn_hamburguer">
               <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbar_content">
               <!-- subdominio -->
               <div class="site-url" id="container_subdominio_mobil"></div>
               <!-- buscador -->
               <div class="buscador" id="container_buscador_mobil"></div>
               <!-- main -->
               <div id="container_mainmenu_mobil"></div>
               <!-- Sedes -->
               <div class="btn-group d-block d-md-none hidden-print">
                  <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_sedes_mobil" aria-controls="container_sedes_mobil">Sedes<span class="caret"> </span>
                  </div>
               </div>
               <div class="collapse" id="container_sedes_mobil"></div>
               <!-- Servicios -->
               <div class="btn-group d-block d-md-none hidden-print">
                  <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_servicios_mobil" aria-controls="container_servicios_mobil">Servicios<span class="caret"> </span>
                  </div>
               </div>
               <div class="collapse" id="container_servicios_mobil"></div>
               <!-- Perfiles -->
               <div class="btn-group d-block d-md-none hidden-print">
                  <div class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#container_profiles_mobil" aria-controls="container_profiles_mobil">Perfiles<span class="caret"> </span>
                  </div>
               </div>
               <div class="collapse" id="container_profiles_mobil"></div>
            </div>
            <!-- Collapsible content -->
         </nav>
      </header>
      <!-- defaultpanel -->
      {% comment %}
      <!-- Panel de accesibilidad -->
      <div class="tx-unal-accesibilidad">
         <!-- defaultpanel -->
         <div
            id="panel-accesibilidad"
            class="panel-content container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-3 ">
                        <h4>Tamaño letra</h4>
                        <button
                           class="boton-panel"
                           id="letra-disminuir"
                           onclick="cambiarTamanioLetra('-')"
                           type="submit"
                           name=""
                           value="">A<sup>-</sup>
                        </button>
                        <button
                           class="boton-panel"
                           id="letra-aumentar"
                           onclick="cambiarTamanioLetra('+')"
                           type="submit"
                           name=""
                           value="">
                        A<sup>+</sup>
                        </button>
                        <input
                           disabled="1"
                           class="letras-porcentaje"
                           id="letter-percent"
                           type="text"
                           name=""
                           value="100%">
                     </div>
                     <div class="col-md-3 ">
                        <h4>Cambiar Contrastes</h4>
                        <button
                           class="boton-panel"
                           id="contraste-1"
                           onclick="cambiarContrastes(1)"
                           type="submit"
                           name=""
                           value="">1
                        </button>
                        <button
                           class="boton-panel"
                           id="contraste-2"
                           onclick="cambiarContrastes(2)"
                           type="submit"
                           name=""
                           value="">2
                        </button>
                        <button
                           class="boton-panel"
                           id="contrate-3"
                           onclick="cambiarContrastes(3)"
                           type="submit"
                           name=""
                           value="">3
                        </button>
                     </div>
                     <div class="col-md-3 ">
                        <h4>Invertir colores</h4>
                        <button
                           class="boton-panel"
                           id="inversor"
                           onclick="invertirColores()"
                           type="submit"
                           name=""
                           value="">Aplicar
                        </button>
                     </div>
                     <div class="col-md-3">
                        <h4>Restablecer ajustes</h4>
                        <button
                           class="boton-panel"
                           id="defaul-config"
                           onclick="defaultConfig()"
                           type="submit"
                           name=""
                           value="">
                        Aplicar
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /content wrapper for padding -->
         <div id="pestania-accesibilidad" class="">Panel de Accesibilidad</div>
      </div>
      {% endcomment %}
      <!-- /content wrapper for padding -->
      <!--Carousel-->
      {% block 'top-page' %}{% endblock %}
      <!-- Contenido -->
      <main class="detalle">
         <div class="dima-logo"><a href="{% url 'home' %}"><img src="{% static 'assets/dima_logo.svg' %}"></img></a></div>
         {% block 'breadcrumb' %}
         <div class="breadcrumb-class">
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
               </ol>
            </nav>
         </div>
         {% endblock %}
         <div class="dima-main">{% block 'main' %}{% endblock %}</div>
      </main>
      <!-- Footer -->
      <footer class="clear container-fluid">
         <div class="row">
            <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
               <a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
               <a href="http://personal.unal.edu.co" target="_top">Talento humano</a>
               <a href="http://contratacion.unal.edu.co" target="_top">Contratación</a>
               <a href="http://personal.unal.edu.co" target="_top">Ofertas de empleo</a>
               <a href="http://launalcuenta.unal.edu.co/" target="_top">Rendición de cuentas</a>
               <a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">Concurso docente</a>
               <a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
               <a href="http://controlinterno.unal.edu.co/" target="_top">Control interno</a>
               <a href="http://siga.unal.edu.co" target="_top">Calidad</a>
               <a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
            </nav>
            <nav class="col-lg-3 col-md-3 col-sm-4 col-6 gobiernoLinea">
               <a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
               <!--<a href="index.html#">Mapa del sitio</a>-->
               <a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
               <!--<a href="index.html#">FAQ</a>-->
               <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
               <a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
               <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
               <!--<a href="index.html#">Contáctenos</a>-->
               <a href="http://estadisticas.unal.edu.co/" target="_top">Estadísticas</a>
               <!--<a href="index.html#">Glosario</a>-->
            </nav>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 footer-info">
               <div class="row footer-info-spacing">
                  <p class="col-lg-6 col-md-12 col-sm-12 col-6 contacto">
                     <b>Contacto página web:</b><br/>
                     Carrera 27 #64-60<br/>
                     Bloque H Piso 3  - Oficina de dirección<br/>
                     Manizales, Colombia<br/>
                     PBX: (57+6) 8879300 Ext 50239.
                  </p>
                  <p class="col-lg-6 col-md-12 col-sm-12 col-6 derechos">
                     <a href="https://unal.edu.co/fileadmin/user_upload/docs/legal.pdf" target="_blank">&copy; Copyright 2022</a><br/>
                     Algunos derechos reservados.<br/>
                     <a
                        title="Comuníquese con el administrador de este sitio web"
                        href="mailto:yencardonaal@unal.edu.co">yencardonaal@unal.edu.co</a><br/>
                     <!--<a href="index.html#">Acerca de este sitio web</a><br/>-->
                     Actualización:29/09/22
                  </p>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 logos">
               <div class="row px-3">
                  <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                     <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6" href="http://orgullo.unal.edu.co">
                        <img
                           class="hidden-print"
                           alt="Orgullo UN"
                           src="{% static 'unal/images/log_orgullo.png' %}"
                           width="78"
                           height="21"/>
                        <img
                           class="d-none d-print-block"
                           alt="Orgullo UN"
                           src="{% static 'unal/images/log_orgullo_black.png' %}"
                           width="94"
                           height="37"/>
                        </a>
                        <a class="col-md-12 col-sm-6 col-6 imgAgencia"
                           href="http://agenciadenoticias.unal.edu.co">
                        <img
                           class="hidden-print"
                           alt="Agencia de Noticias"
                           src="{% static 'unal/images/log_agenc.png' %}"
                           width="94"
                           height="25"/>
                        <img
                           class="d-none d-print-block"
                           alt="Agencia de Noticias"
                           src="{% static 'unal/images/log_agenc_black.png' %}"
                           width="94"
                           height="37"/>
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-6 col-6 no-padding">
                     <div class="row mx-1">
                        <a class="col-md-12 col-sm-6 col-6"
                           href="https://www.gov.co/">
                        <img
                           alt="Portal Único del Estado Colombiano"
                           src="{% static 'unal/images/log_gobiern.png' %}"
                           width="67"
                           height="51"/>
                        </a>
                        <a class="col-md-12 col-sm-6 col-6" href="http://www.contaduria.gov.co/">
                        <img
                           alt="Contaduría General de la República"
                           src="{% static 'unal/images/log_contra.png' %}"
                           width="67"
                           height="51"/>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
