{% load admin_urls %}

{% if user.is_authenticated %}
  <div class='container'>
    <div class="dima-alert alert alert-danger" role="alert">
      Las patentes se pueden editar desde <a href="{% url patent_admin|admin_urlname:'changelist' %}" target='_blank'>este link</a>.
    </div>
  </div>
{% endif %}

<div class='container-fluid dima-form'>
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Tipos de patente</h1>
        <p></p>
        <select class="form-select" id='dima-select--patent_type__patents' aria-label="Default select example">
         <option value="All">Todos los tipos de patente</option>
          {% for f in patents_types %}
            <option value="{{f}}">{{f}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Por departamentos</h1>
        <p></p>
        <select class="form-select" id='dima-select--departament__patents' aria-label="Default select example">
          <option value="All">Todos los departamentos</option>
          {% for d in departaments %}
            <option value="{{d}}">{{d}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>


<div class='container-fluid'>
  <div class="container-lg">
    <div class="row">

      <div id="dima-placeholder__patents">
        {% include 'patents_list.html' %}
      </div>

    </div>
  </div>
</div>
