


.dima-main {
display: inline-flex;
}

.dima-sidebar {
    background-color: red;
    width: 20vw;
    height: 100vh;
}


.dima-body {

}

.display-8 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}



.dima-group--name {
    color: #636efa;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.dima-group--name {
    color: #636efa;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}



.dima-form{

    padding: 30px 30px;
    background-color: #f8f9fa;
    margin-top: 30px;
    margin-bottom: 30px;

}


.dima-plot {
    margin-bottom: 30px;

}
