.dima-sidebar {
  background-color: red;
  width: 20vw;
  height: 100vh;
}

.dima-body {}

.display-8 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-9 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-10 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-form {
  padding: 30px 30px;
  background-color: #f8f9fa;
  margin-top: 30px;
  margin-bottom: 30px;
  width: calc(100% + 30px);
  margin-left: -15px;
}

.dima-plot {
  margin-bottom: 30px;
  margin-top: 30px;
}

main.detalle {
  background-color: white;
  padding: 15px;
  margin-top: 30px !important;
  padding-top: 30px;
  border-radius: 8px;
  box-shadow: 0 0 6px #555;
  padding-bottom: 180px;
  overflow-x: hidden;
}

main.detalle p{
  text-align: justify;
}

main .breadcrumb-class {
  margin-bottom: 30px !important;
}

main {
  font-family: 'Ancizar Sans Light' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ancizar Sans Light" !important;
  color: #14a8df !important;
}

.dima-main {
  font-size: 150%;
  line-height: 120%;
}

.dima-logo {
  padding: 5px 15px;
}

.dima-card {
  width: 15rem;
  margin: 5px 5px;
}

.dima-logo img {
  width: 25vw;
}

.dima-newsletter {}

.dima-newsletter--thumbnail {
  display: inline-grid;
  margin: 30px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.dima--carousel-item {
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.dima--carousel-blur {
  filter: blur(7px) brightness(0.5);
  position: absolute;
  z-index: -1;
  height: calc(100% + 30px);
  width: 120%;
  margin: 0px -10px;
  margin-top: -10px;
  margin-left: -10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dima--carousel-item img {
  margin: 20px auto;
  height: 45vh;
  z-index: 10;
  filter: drop-shadow(2px 4px 6px #5b5b5b);
  border-radius: 4px;
  max-width: 90%;
  max-height: 30vh;
}

#dima-carousel {}

.dima--carousel-separator {
  background-color: #5b5b5b;
  width: 100%;
  height: 30px;
}

.carousel-indicators {
  margin-bottom: 0.3rem;
}

.carousel-caption {
  position: absolute;
  bottom: 2rem;
  right: 40px;
  color: #fff;
  text-align: left;
  background-color: #5b5b5bcc;
  padding: 30px;
  left: auto;
  width: 30vw;
}

.dima-carousel-caption__link {
  line-height: 30px;
}

.dima-carousel-caption__link:hover {
  color: #b9cd83;
}

.carousel-caption.carousel-caption--auth {
  left: 20vw;
  right: unset;
  width: auto;
  text-align: center;
  padding: 15px 20px;
}

.dima-link--edit {
  position: absolute;
  padding: 10px;
  z-index: 9999999;
}

.carousel-caption.carousel-caption--auth a:hover,
.dima-link--edit:hover {
  color: #b9cd83;
}

.dima-teams {}

.dima-teams--team {
  margin-top: 60px;
  line-height: 130%;
  font-size: 80%;
}

.dima-edit {
  font-size: 60%;
}

.dima-content {
  margin-top: 20px;
}

.dima-content p {
  margin: 15px 0;
}

.dima-content p:first-child {
  margin: 0;
  margin-bottom: 15px;
}

/*.dima-content h1 {*/
/*text-transform: lowercase;*/
/*}*/
/*.dima-content h1::first-letter {*/
/*text-transform: uppercase;*/
/*}*/
.dima-content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol.list-group {
  padding-inline-start: 15px;
}

.dima-content a {
  border-bottom: 1px dotted;
}

.dima-content a:hover {
    text-decoration: none;
    color: #4d640d;
}

.dima-nav__container {
  background-color: #5b5b5b;
  border-top: 2px solid #666666;
}

.dima-nav__container ul {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 10px;
}

.dima-nav__container li {
  background-color: #666666;
  margin: 10px 5px;
  padding: 10px 30px;
  display: flex;
}

.dima-nav__container li a:focus,
.dima-nav__container li a:hover,
.dima-nav__container li a {
  color: white;
  text-decoration: none;
  font-family: "Ancizar sans light";
  line-height: 20px;
  font-size: 70%;z
  text-transform: uppercase;
}

.dima-nav__container li img {
  width: 35px;
  height: 35px;
}

.dima-dropdown-menu {
  top: 10px !important;
}

.dima-bi {
  font-size: 50%;
}

.dima-list-noindent {
  padding-left: 1em !important;
  margin-block-start: 0 !important;
}

.dima--table-btn-link {
text-align: left;
}

.dima-alert {
  margin: 30px;
  padding: 15px;
  font-size: 120%;
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  font-family: Ancizar Sans Light;
  line-height: 17px;
  font-size: 17px;
  width: -webkit-fill-available;
}

.dima-alert a {
  font-weight: 600;
  text-decoration: underline;
}

.dima-alert.alert-danger a,
.dima-alert.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.dima-alert.alert-info a,
.dima-alert.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.dima-image__internal_call{
  width: 100%;
  max-height: 90vh;
  padding-bottom: 15px;
}

.dima-image__no_image{
text-transform: capitalize;
    padding: 100px 30px;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
    font-family: 'Ancizar sans light';
  border-radius: 4px;

}

.dima-internal_call {
    margin-bottom: 60px;
        padding: 0 15px;
}


.dima-margin-bottom__30{
  margin-bottom: 30px;
}

.dima__disable{
    background-color: #ededed;
    opacity: 0.3;
}


.dima__card-badge {
  margin-top: 16px;
}

.dima-attachment {
      margin-top: 30px;
}




@media only screen and (max-device-width: 768px) {
  .dima-nav__container .nav-item{

  width: 100%;

  }

}


#unalTop .navigation .mainMenu {
    margin-right: 70px !important;
}


.nav-item_icon {
  opacity: 0.5;
  filter: invert(1);
}

.dima-map {
  height: 100vh !important;
  border: 10px solid #e8eaed;
}


.dima-nav__container ul.dima-nav-home {
  display: block;
  margin-left: 0;
  margin-right: 0;
}


.dima-nav__container-home {
  background: unset;
  border: none;
}


.dima-color_one:hover {
  background-color: #fd0;
  color: #212529;
}
.dima-color_two:hover {
  background-color: #ffb600;
  color: #212529;
}
.dima-color_three:hover {
  background-color: #51b8be;
  color: #212529;
}
.dima-color_four:hover {
  background-color: #008c95;
}
.dima-color_five:hover {
  background-color: #ff3d30;
  color: #212529;
}

.dima-nav-home .nav-item a:hover {
  color: #212529 !important;
}

.dima-nav-home .nav-item{
  margin-left: 0px;
}



@media only screen and (min-width: 992px) {
  .dima-home_address {
    margin-top: 20vh;
  }
}


.nav-item {
  cursor: pointer;
}
