

.dima-sidebar {
    background-color: red;
    width: 20vw;
    height: 100vh;
}


.dima-body {

}

.display-8 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-10 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}



.dima-group--name {
    color: #636efa;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.dima-group--name {
    color: #636efa;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}



.dima-form{

    padding: 30px 30px;
    background-color: #f8f9fa;
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(100% + 30px);
    margin-left: -15px;

}


.dima-plot {
    margin-bottom: 30px;

}



main.detalle {
    background-color: white;
    padding: 15px;
    margin-top: 15px !important;
    border-radius: 8px;
    box-shadow: 0 0 6px #555;
    padding-bottom: 180px;
}

main .breadcrumb-class {
    margin-bottom: 30px !important;
}

main {
    font-family: 'Ancizar Sans Light' !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ancizar Sans Light", "MS Sans", "New York", Sans !important;
    color: #14a8df!important;
}


.dima-main {
    font-size: 150%;
    line-height: 120%;
}


.dima-logo {
    padding: 5px 15px;
}


.dima-card {
    width: 15rem;
    margin: 5px 5px;
}


.dima-logo img {
width: 25vw;
}
