{% extends "base_unal.html" %}
{% load admin_urls %}
{% load dima_utils %}
{% block 'head-title' %}Convocatorias conjuntas - {% endblock %}


{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Está en: <a href="/">Inicio</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'calls' %}">Convocatorias</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'joint_call' %}">Conjuntas</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'joint_call' jointcall.pk %}">{{ jointcall.title }}</a>
      </li>
    </ol>
  </nav>
</div>
{% endblock %}


{% block 'main' %}
<div class="container-lg">

    <h1 class="display-3">{{ jointcall.title }}
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url jointcall_admin|admin_urlname:'change' jointcall.pk %}'>Editar<i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </small>
    </h1>

    <div class="dima-content">
        <div class="row">

        {% if jointcall.objective %}
          <h1>Objetivos:</h1>
          <p>{{ jointcall.objective }}</p>
        {% endif %}

        {% if jointcall.headed %}
          <h1>Dirigida a:</h1>
          <p>{{ jointcall.headed }}</p>
        {% endif %}

        <h1>Cronograma:</h1>
        <ol class="list-group list-group-numbered">
        {% for activity in jointcall.timeline.all %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ activity.activity }}</div>
              {% if activity.end_date %}
                <p>Desde el {{activity.start_date|date:"d"}} de {{activity.start_date|date:"F"}} del {{activity.start_date|date:"Y"}} al {{activity.end_date|date:"d"}} de {{activity.end_date|date:"F"}} del {{activity.end_date|date:"Y"}}</p>
              {% else %}
                <p>Hasta el {{activity.start_date|date:"d"}} de {{activity.start_date|date:"F"}} del {{activity.start_date|date:"Y"}}</p>
              {% endif %}
            </div>

            <span class="badge {% if activity.expired %}bg-danger{% else %}bg-primary{% endif %} rounded-pill">
              {% if activity.end_date %}
                {{activity.end_date|timeuntil}} restantes
              {% else %}
                {{activity.start_date|timeuntil}} restantes
              {% endif %}
            </span>
          </li>
        {% endfor %}
        </ol>

        <h1>Terminos de referencia:</h1>
        <ol>
          {% for doc in jointcall.terms_of_reference.all %}
            <li><a href='{{doc.terms_of_reference.url}}' target='_blank'>{{doc.name}}</a></li>
          {% endfor %}
        </ol>

        <h1>Anexos:</h1>
        <ol>
          {% for annex in jointcall.annex.all %}
            <li><a href='{{annex.annex.url}}' target='_blank'>{{annex.name}}</a></li>
          {% endfor %}
        </ol>

        {% if jointcall.results.count %}
          <h1>Resultados:</h1>
          <ol>
            {% for result in jointcall.results.all %}
              <li><a href='{{result.result.url}}' target='_blank'>{{result.name}}</a></li>
            {% endfor %}
          </ol>
        {% endif %}

        </div>
    </div>

</div>
{% endblock %}
