{% extends "base_unal.html" %}
{% load admin_urls %}
{% load dima_utils %}
{% block 'head-title' %}Convocatorias - {% endblock %}


{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Está en: <a href="/">Inicio</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'calls' %}">Convocatorias</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'joint_call' %}">Convocatorias de estudiantes auxiliares</a>
      </li>
    </ol>
  </nav>
</div>
{% endblock %}


{% block 'main' %}
<div class="container-lg">

    <h1 class="display-3">Convocatorias de estudiantes auxiliares
    <small class="text-muted">
      {% if user.is_authenticated %}
        <a href='{% url studentscall_admin|admin_urlname:'add' %}'>Add call<i class="bi bi-pencil-square"></i></a>
      {% endif %}
    </small>
    </h1>

    <div class="dima-content">
        <div class="row">


        </div>
    </div>

</div>
{% endblock %}
