
{% extends "base_unal.html" %}
{% load admin_urls %}
{% load dima_utils %}
{% block 'head-title' %}Convocatorias internas - {% endblock %}


{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Está en: <a href="/">Inicio</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'calls' %}">Convocatorias</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'internal_call' %}">Convocatorias internas</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'internal_call' internalcall.pk %}">{{ internalcall.title }}</a>
      </li>
    </ol>
  </nav>
</div>
{% endblock %}


{% block 'main' %}
<div class="container-lg">

    <h1 class="display-3">{{ internalcall.title }}
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url internalcall_admin|admin_urlname:'change' internalcall.pk %}'>Editar<i class="bi bi-pencil-square"></i></a>
        {% endif %}
        {% if internalcall.link %}
          <br>
          <a href='{{internalcall.link}}'><i class="bi bi-link-45deg"></i>{{internalcall.link}}</a>
        {% endif %}
      </small>
    </h1>

    <div class="dima-content">

        <div class="row justify-content-md-center">
          <div class="col-md-4 col-sm-6 col-lg-3">
          {% if internalcall.image %}
            <img src="{{internalcall.image.url}}" class="card-img-top"></img>
          {% endif %}
          </div>
        </div>

        <div class="row">

        {% if internalcall.objective %}
          <h1>Objetivos:</h1>
          <div class="dima-content">
            {{internalcall.objective|safe}}
          </div>
        {% endif %}

        {% if internalcall.headed %}
          <h1>Dirigida a:</h1>
          <div class="dima-content">
            {{internalcall.headed|safe}}
          </div>
        {% endif %}

        {% if jointcall.timeline.count %}
          <h1>Cronograma:</h1>
          <ol class="list-group list-group-numbered">
          {% for activity in internalcall.timeline.all %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ activity.activity }}</div>
                {% if activity.end_date %}
                  <p>Desde el {{activity.start_date|date:"d"}} de {{activity.start_date|date:"F"}} del {{activity.start_date|date:"Y"}} al {{activity.end_date|date:"d"}} de {{activity.end_date|date:"F"}} del {{activity.end_date|date:"Y"}}</p>
                {% else %}
                  <p>Hasta el {{activity.start_date|date:"d"}} de {{activity.start_date|date:"F"}} del {{activity.start_date|date:"Y"}}</p>
                {% endif %}
              </div>

              <span class="badge {% if activity.expired %}bg-danger{% else %}bg-primary{% endif %} rounded-pill">
                {% if activity.end_date %}
                  {{activity.end_date|timeuntil}} restantes
                {% else %}
                  {{activity.start_date|timeuntil}} restantes
                {% endif %}
              </span>
            </li>
          {% endfor %}
          </ol>
        {% endif %}

        <h1>Términos de referencia:</h1>
        <ol>
          {% for doc in internalcall.terms_of_reference.all %}
            <li><a href='{{doc.terms_of_reference.url}}' target='_blank'>{{doc.name}}</a></li>
          {% endfor %}
        </ol>

        <h1>Anexos:</h1>
        <ol>
          {% for annex in internalcall.annex.all %}
            <li><a href='{{annex.annex.url}}' target='_blank'>{{annex.name}}</a></li>
          {% endfor %}
        </ol>

        {% if internalcall.results.count %}
          <h1>Resultados:</h1>
          <ol>
            {% for result in internalcall.results.all %}
              <li><a href='{{result.result.url}}' target='_blank'>{{result.name}}</a></li>
            {% endfor %}
          </ol>
        {% endif %}

        </div>
    </div>

</div>
{% endblock %}
