{% load static %}

<div class="dima-nav__container">
<div class='container-fluid'>
<div class="dima-main">

  <ul class="nav">
    <li class="nav-item">
      <img src="{% static '/unal/Icons/diccionarios-y-encicopedias.png' %}"></img>
      <a class="nav-link" href="{% url 'newsletters' %}">Boletines DIMA</a>
    </li>
    <li class="nav-item">
      <img src="{% static '/unal/Icons/convocatorias.png' %}"></img>
      <a class="nav-link" href="{% url 'calls' %}">Convocatorias</a>
    </li>
    <li class="nav-item">
      <img src="{% static '/unal/Icons/portafolio-de-servicios.png' %}"></img>
      <a class="nav-link" href="{% url 'contact' %}">Contáctenos</a>
    </li>
    <li class="nav-item">
      <img src="{% static '/unal/Icons/enid.png' %}"></img>
      <a class="nav-link" href="{% url 'equipo_de_trabajo' %}">Equipo de trabajo</a>
    </li>
  </ul>

</div>
</div>
</div>
