{% load static %}

<!--Bootstrap-->
<script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
<link nonce="{{request.csp_nonce}}" rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}"/>

<!--Custom styles-->
<link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link nonce="{{request.csp_nonce}}" rel="stylesheet" type="text/css" href="{% static 'dima-styles.css' %}">

<!--Plotly-->
<script nonce="{{request.csp_nonce}}" src="{% static 'plotly/plotly-2.14.0.min.js' %}"></script>

<!--Brython-->
<script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'brython/brython.js' %}"></script>
<script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static 'brython/brython_stdlib.js' %}"></script>

<!--Brython scripts-->
<script nonce="{{request.csp_nonce}}" type="text/python">
    import sys
    sys.path.append("{% static 'py' %}")
</script>
<script type="text/python" src="{% static 'py/scripts.py' %}"></script>

<!--Javascript-->
<script nonce="{{request.csp_nonce}}" type="application/javascript">
  window.alert = function() {};
  var CSRF_TOKEN = '{{csrf_token}}';
  document.addEventListener("DOMContentLoaded", brython);
</script>
