<!-- Items menú principal -->

<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">
    Servicios<span class="caret"></span>
  </div>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="http://investigacion.manizales.unal.edu.co/servicios/convocatorias-un/">Convocatorias UN</a></li>
      <li><a class="dropdown-item" href="http://investigacion.manizales.unal.edu.co/servicios/eventos/">Eventos</a></li>
      <li><a class="dropdown-item" href="http://investigacion.manizales.unal.edu.co/servicios/avales-para-grupos/">Avales para grupos</a></li>
      <li><a class="dropdown-item" href="http://investigacion.manizales.unal.edu.co/servicios/proyectos-ctei-regalias/">Proyectos CteI Regalías</a></li>
      <li><a class="dropdown-item" href="http://investigacion.manizales.unal.edu.co/servicios/publicaciones/">Pulicaciones</a></li>

      <!--<li><a class="dropdown-item" href="http://investigacion.unal.edu.co/servicios/tramites-ambientales/">Trámites ambientales</a></li>-->
      <!--<li><a class="dropdown-item" href="http://investigacion.unal.edu.co/servicios/formacion-para-la-investigacion">Formación para la Investigación</a></li>-->
      <!--<li><a class="dropdown-item" href="http://investigacion.unal.edu.co/servicios/buenas-practicas-en-la-investigacion">Buenas prácticas para la Investigación</a></li>-->

      <!--<li><a class="dropdown-item" href="http://bibliotecas.unal.edu.co/">Bibliotecas UN</a></li>-->
      <!--<li><a class="dropdown-item" href="http://www.revistas.unal.edu.co/">Revistas UN</a></li>-->
      <!--<li><a class="dropdown-item" href="http://www.editorial.unal.edu.co/">Editorial UN</a></li>-->
    </ul>
</div>

<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">
    Acerca de<span class="caret"></span>
  </div>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Presentación</a></li>
      <li><a class="dropdown-item" href="#">Misión y visión</a></li>
      <li><a class="dropdown-item" href="#">Equipo de trabajo</a></li>
      <li><a class="dropdown-item" href="#">Normativa</a></li>
    </ul>
</div>

<div class="btn-group">
  <a href="http://investigacion.manizales.unal.edu.co/boletines-dima/" class="btn btn-default">Contáctenos</a>
</div>
<div class="btn-group">
  <a href="http://investigacion.manizales.unal.edu.co/boletines-dima/" class="btn btn-default">Boletín un investiga</a>
</div>
<div class="btn-group">
  <a href="http://investigacion.manizales.unal.edu.co/boletines-dima/" class="btn btn-default">Boletines Dima</a>
</div>









