{% load admin_urls %}

<div id="dima-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for broadcast in broadcasts %}
      <button type="button" data-bs-target="#dima-carousel" data-bs-slide-to="{{forloop.counter0}}" {% if not forloop.counter0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{forloop.counter0}}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for broadcast in broadcasts %}

      <style nonce="{{request.csp_nonce}}">
        .dima--carousel-item_{{forloop.counter}} {
          #background-color: {{broadcast.dominant}};
          background-image: url({{broadcast.image.url}});
        }
      </style>

      <div class="carousel-item dima--carousel-item {% if not forloop.counter0 %}active{% endif %}">
        <div class="dima--carousel-blur dima--carousel-item_{{forloop.counter}}"></div>
        <a href='{% if broadcast.link %}{{broadcast.link}}{% else %}#{% endif %}'>
          <img src="{{broadcast.image.url}}" class="d-block"></img>
        </a>
      {% if user.is_authenticated %}
        <div class="carousel-caption carousel-caption--auth d-none d-md-block">
          <a class='' href='{% url broadcasts_admin|admin_urlname:'change' broadcast.pk %}'>Edit<i class="bi bi-pencil-square"></i></a>
        </div>
      {% endif %}

      {% if broadcast.title or broadcast.description %}
        <div class="carousel-caption d-none d-md-block">
          {% if broadcast.title %}
            <h5>{{broadcast.title}}</h5>
          {% endif %}
          {% if broadcast.description %}
            <p>{{broadcast.description}}</p>
          {% endif %}
          {% if broadcast.link %}
            <a class='dima-carousel-caption__link' href='{{broadcast.link}}'>visitar enlace <i class="bi bi-box-arrow-up-right"></i></a>
          {% endif %}
        </div>
      {% endif %}
      </div>

    {% endfor %}
  </div>
  <div class='dima--carousel-separator'></div>

  <button class="carousel-control-prev" type="button" data-bs-target="#dima-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#dima-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
