
.brython-out{
    text-align: center;
    padding: 15px;
    border: 1px solid #eee;
    /*margin-top: -16px;*/
    border-radius: 0px 0px 2px 2px;
    width: -moz-available;
    width: -webkit-fill-available;
    display: inline-flex;
}


.brython-out *{
    margin: 0 auto;
    display: inline-flex;
}
