{% extends "base_unal.html" %}
{% load admin_urls %}

{% block 'head-title' %} - Equipo de trabajo{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Equio de trabajo</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block 'main' %}
<div class="container-lg">

    <h1 class="display-3">Equipo de trabajo
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url teams_admin|admin_urlname:'add' %}'> Add team <i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </small>
    </h1>

    <div class="row">
    {% for team in teams %}

      <div class="col-6 dima-teams--team">
        <h1 class="display-9">{{team.area|lower|capfirst}}
        <!--<small class="text-muted">-->
          {% if user.is_authenticated %}
            <a class='dima-edit' href='{% url teams_admin|admin_urlname:'change' team.pk %}'> Edit <i class="bi bi-pencil-square"></i></a>
          {% endif %}
        <!--</small>-->
        </h1>

        {% for name in team.names_split %}
          {{name|lower|title}}</br>
        {% endfor %}
        <dl class="row">
          <dt class="col-md-3 col-lg-2">Email:</dt>
          <dd class="col-md-9 col-lg-10">
            {% for email in team.email_split %}
              <p>{{email|lower}}</p>
            {% endfor %}
          </dd>
          <dt class="col-md-3 col-lg-2">Ext:</dt>
          <dd class="col-md-9 col-lg-10">
            <p>{{team.ext}}</p>
          </dd>
        </dl>
      </div>

    {% endfor %}
    </div>






  </div>
</div>
{% endblock %}


