{% extends "base_unal.html" %}
{% block 'head-title' %} - Equipo de trabajo{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Equio de trabajo</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block 'main' %}
<div class="container-lg">
  <div class="row">

    <h1 class="display-3">Equipo de trabajo</h1>



  </div>
</div>
{% endblock %}


