{% extends "base_unal.html" %}
{% block 'head-title' %} - Equipo de trabajo{% endblock %}
{% block 'main' %}

<div class="container-lg">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Equipo de trabajo</li>
      </ol>
    </nav>
  </div>
</div>
<hr>

<div class="container-lg">
  <div class="row">

    <h1 class="display-3" style="margin-top: 15px;">Equipo de trabajo</h1>

    <div style="min-height: 1000px"></div>


  </div>
</div>
{% endblock %}


