<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoría</th>
      <th scope="col">Antigüedad</th>
    </tr>
  </thead>
  <tbody>

    {% for group in groups %}
    <tr>
      <td class='dima-group--view' data-pk='{{group.pk}}'><a class="btn btn-link" href="/group?pk={{group.pk}}" role="button">{{group.name}}</a></td>

      <td>{{group.category_prety}}</td>
      <td>{{group.founded|timesince}}</td>

    </tr>
    {% endfor %}

  </tbody>
</table>
