{% extends "base_unal.html" %}

{% block 'head-title' %} - {{group.name}}{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item"><a href="/groups">Grupos de investigación</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">{{group.name}}</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block 'main' %}

<div class="container-lg" style="margin-bottom: 100vh;">
  <div class="row">

    <div class="col-3">
      <p class='display-3' style='float: right; font-size: 10em;'>{{group.category_prety}}</p>
    </div>

    <div class="col-9" style="margin-top: 42px;">

        <p class='display-6' style='color: #636efa;'>{{group.name}}</p>
        <p class='h4'><small class="text-muted">{{group.faculty_prety}} / {{group.departament_prety}}</small></p>
        {% if group.leader.full_name %}
          <p class='h5'>Director: {{group.leader.full_name}}</p>
        {% endif %}
        <!--<p class='h5'>{{group.researchers.count}} investigadores</p>-->

        <div class="btn-group" role="group" aria-label="Basic outlined example">
        </div>

    </div>


  </div>
</div>





{% endblock %}
