{% extends "base_unal.html" %}
{% load static %}

{% block 'main' %}

<div class="container-lg">
    <div class="row">

      <div class="col-12">
        <p>
          La Dirección de Investigaciones de Manizales DIMA tiene como objeto principal orientar, promover y financiar a través de los recursos que se le asignen, las actividades de investigación en la Sede.
        </p>
      </div>

      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class='dima-plot' id='dima-plot--faculties'></div>
      </div>

      <div class="col-lg-7 col-md-12 col-sm-12">
        <div id='dima-counters'>

              {% for label, value in cards %}
              <div class="card dima-card">
                <div class="card-body">
                  <h1 class="card-title">{{value}}</h1>
                  <p class="card-text">{{label}}</p>
                </div>
              </div>
              {% endfor %}

        </div>
      </div>
    </div>
</div>

<div class='container-fluid dima-form'>
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Por facultades</h1>
        <p></p>
        <select class="form-select" id='dima-select--faculty' aria-label="Default select example">
         <option value="All">Todas las facultades</option>
          {% for f in faculties %}
            <option value="{{f}}">{{f}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Por departamentos</h1>
        <p></p>
        <select class="form-select" id='dima-select--departament' aria-label="Default select example">
          <option value="All">Todos los departamentos</option>
          {% for d in departaments %}
            <option value="{{d}}">{{d}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>

<div class="container-lg">
  <div class="row">

      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <h1 class="display-6">Por área de conocimiento de la OCDE</h1>
          <p>
          Se trata de una agrupación que se hace de los programas académicos,
          teniendo en cuenta cierta afinidad en los contenidos, en los campos
          específicos del conocimiento, en los campos de acción de la educación
          superior cuyos propósitos de formación conduzcan a la investigación o
          al desempeño de ocupaciones, profesiones y disciplinas.
          </p>
          <!--<div class='dima-plot' id='dima-plot--ocde'></div>-->
      </div>

      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
          <h1 class="display-6">Por agendas de conocimiento</h1>
          <p>
          Las agendas de conocimiento, elaboradas entre 2010 y 2012,
          ofrecen un diagnóstico actual de las capacidades de investigación de
          la Universidad Nacional de Colombia a nivel nacional e
          internacional. Se presentan organizadas en áreas que promueven el
          trabajo interdisciplinar.
          </p>
          <div class='dima-plot' id='dima-plot--knowledge'></div>
      </div>


      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <h1 class="display-6">Grupos de investigación</h1>
        <p>
          Se define grupo de investigación científica o tecnológica como el
          conjunto de personas que se reúnen para realizar investigación en una
          temática dada, formulan uno o varios problemas de su interés, trazan
          un plan estratégico de largo o mediano plazo para trabajar en él y
          producir unos resultados de conocimiento sobre el tema cuestión. Un
          grupo existe siempre y cuando demuestre producción de resultados
          tangibles y verificables, fruto de proyectos y otras actividades de
          investigación convenientemente expresadas en un plan de acción
          (proyectos) debidamente formalizado.
        </p>
        <p>
          Los grupos se clasificarán de acuerdo con las siguientes categorías,
          una vez se haya cumplido con los requisitos para ser Grupo de
          investigación, Desarrollo Tecnológico o de Innovación Reconocido. De
          mayor a menor reconocimiento: <b>A1</b>, <b>A</b>, <b>B</b>, <b>C</b> y <b>D</b>
        </p>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class='dima-plot' id='dima-plot--categories' dima-size='6'></div>
      </div>

  </div>
</div>


<div class='container-fluid dima-form'>
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-3 col-sm-6">
        <h1 class="display-8">Por categoría</h1>
        <p></p>
        <select class="form-select" id='dima-select--category' aria-label="Default select example">
          <option value="All">Todas las categorías</option>
          {% for c in categories %}
            <option value="{{c}}">{{c}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class="container-lg">
    <div class="row">


      <div class="col-lg-12 col-sm-12">
        <div class='dima-render' id='dima-render--group'>{% include 'groups_table.html' %}</div>
      </div>

    </div>
  </div>
</div>




{% endblock %}
