{% extends "base_unal.html" %}
{% load static %}

{% block 'top-page' %}
  {% if broadcasts %}
    {% include 'dima_carousel.html' %}
    {% include 'dima_accent.html' %}
  {% endif %}
{% endblock %}


{% block 'breadcrumb' %}
<div class="breadcrumb-class breadcrumb-class__no-border">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item dima-breadcrumb"></li>
    </ol>
  </nav>

  <ul class="nav nav-tabs justify-content-end dima-nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="grupos-tab" data-bs-toggle="tab" data-bs-target="#grupos-tab-pane" type="button" role="tab" aria-controls="grupos-tab-pane" aria-selected="true">
      Grupos de investigación
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" href='#investigadores' id="investigadores-tab" data-bs-toggle="tab" data-bs-target="#investigadores-tab-pane" type="button" role="tab" aria-controls="investigadores-tab-pane" aria-selected="false">
      Investigadores
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="patentes-tab" data-bs-toggle="tab" data-bs-target="#patentes-tab-pane" type="button" role="tab" aria-controls="patentes-tab-pane" aria-selected="false">
      Propiedad intelectual
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="proyectos-tab" data-bs-toggle="tab" data-bs-target="#proyectos-tab-pane" type="button" role="tab" aria-controls="proyectos-tab-pane" aria-selected="false">
      Proyectos
      </button>
    </li>
  </ul>


</div>
{% endblock %}


{% block 'main' %}


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="grupos-tab-pane" role="tabpanel" aria-labelledby="grupos-tab" tabindex="0">{% include 'investigacion.html' %}</div>
      <div class="tab-pane fade" id="investigadores-tab-pane" role="tabpanel" aria-labelledby="investigadores-tab" tabindex="0">{% include 'researchers.html' %}</div>
      <div class="tab-pane fade" id="patentes-tab-pane" role="tabpanel" aria-labelledby="patentes-tab" tabindex="0">{% include 'patents.html' %}</div>
      <div class="tab-pane fade" id="proyectos-tab-pane" role="tabpanel" aria-labelledby="proyectos-tab" tabindex="0">Loading...</div>
    </div>





{% endblock %}
