{% extends "base.html" %}


{% block 'main' %}

<div class="container-lg">
    <div class="row">
      <h1 class="display-6">Dima</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="col-6 col-lg-7 col-sm-12">
        <div id="dima-facultades" class="plotly-card">

          <div class='dima-plot' id='dima-plot--faculties'></div>

        </div>
      </div>
      <div class="col-56 col-lg-5 col-sm-12">
        <div id='dima-counters'>

              {% for label, value in cards %}
              <div class="card" style="width: 10rem;">
                <div class="card-body">
                  <h1 class="card-title">{{value}}</h1>
                  <p class="card-text">{{label}}</p>
                </div>
              </div>
              {% endfor %}



        </div>
      </div>
    </div>
</div>

<div class='container-fluid dima-form'>
  <div class="container-lg">
    <div class="row">

      <!--<div class="col-5">-->
      <div class="col-lg-6 col-sm-12">
        <h1 class="display-8">Por facultades</h1>
        <p class="lead"></p>
        <select class="form-select" id='dima-select--faculty' aria-label="Default select example">
         <option value="All">Todas las facultades</option>
          {% for f in faculties %}
            <option value="{{f}}">{{f}}</option>
          {% endfor %}
        </select>
      </div>

      <!--<div class="col-5 offset-2">-->
      <div class="col-lg-6 col-sm-12">
        <h1 class="display-8">Por departamentos</h1>
        <p class="lead"></p>
        <select class="form-select" id='dima-select--departament' aria-label="Default select example">
          <option value="All">Todos los departamentos</option>
          {% for d in departaments %}
            <option value="{{d}}">{{d}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>


<div class="container-lg">
  <div class="row">
      <div class="col-12 col-lg-12 col-sm-12">
          <h1 class="display-6">Por área de conocimiento de la OCDE</h1>
          <p class="lead">
          Se trata de una agrupación que se hace de los <b>programas académicos</b>,
          teniendo en cuenta cierta afinidad en los contenidos, en los <b>campos
          específicos del conocimiento</b>, en los campos de acción de la educación
          superior cuyos propósitos de formación conduzcan a la <b>investigación</b> o
          al desempeño de ocupaciones, profesiones y disciplinas.
          </p>
          <div id="chart1" class="plotly-card">
          <div class='dima-plot' id='dima-plot--ocde'></div>
          </div>
      </div>
      <div class="col-6 col-lg-7 col-sm-12">
          <h1 class="display-6">Por agendas de conocimiento</h1>
          <p class="lead">
          Las <b>agendas de conocimiento</b>, elaboradas entre 2010 y 2012,
          ofrecen un diagnóstico actual de las capacidades de investigación de
          la <b>Universidad Nacional de Colombia</b> a nivel nacional e
          internacional. Se presentan organizadas en áreas que promueven el
          trabajo interdisciplinar.
          </p>
          <div id="dima-agendas" class="plotly-card">
          <div class='dima-plot' id='dima-plot--knowledge'></div>
          </div>
      </div>
      <div class="col-6 col-lg-5 col-sm-12">
          <h1 class="display-6">Por categorías de grupos de investigación</h1>
          <p class="lead">
          Los grupos se clasificarán de acuerdo con las siguientes categorías,
          una vez se haya cumplido con los requisitos para ser <b>Grupo de
          investigación</b>, <b>Desarrollo Tecnológico</b> o de <b>Innovación Reconocido</b>. De
          mayor a menor reconocimiento: <b>A1</b>, <b>A</b>, <b>B</b>, <b>C</b> y <b>D</b>
          </p>
          <div id="dima-categoria" class="plotly-card">
          <div class='dima-plot' id='dima-plot--categories'></div>

          </div>
      </div>

  </div>
</div>


<div class='container-fluid'>
  <div class="container-lg">
    <div class="row">


      <div class="col-lg-12 col-sm-12">
        <h1 class="display-5">Grupos de investigación</h1>
        <p class="lead">
          Se define grupo de investigación científica o tecnológica como el conjunto de personas que se reúnen para realizar investigación en una temática dada, formulan uno o varios problemas de su interés, trazan un plan estratégico de largo o mediano plazo para trabajar en él y producir unos resultados de conocimiento sobre el tema cuestión. Un grupo existe siempre y cuando demuestre producción de resultados tangibles y verificables, fruto de proyectos y otras actividades de investigación convenientemente expresadas en un plan de acción (proyectos) debidamente formalizado.
        </p>
      </div>

    </div>
  </div>
</div>



<div class='container-fluid dima-form'>
  <div class="container-lg">
    <div class="row">



      <div class="col-lg-3 col-sm-6">
        <h1 class="display-8">Por categoría</h1>
        <p class="lead"></p>
        <select class="form-select" id='dima-select--category' aria-label="Default select example">
          <option value="All">Todas las categorías</option>
          {% for c in categories %}
            <option value="{{c}}">{{c}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-8 col-sm-5">
        <h1 class="display-8">Grupos</h1>
        <p class="lead"></p>

        <select class="form-select" id='dima-select--group' aria-label="Default select example">
          <option value="All">Grupo de investigación...</option>
          {% for group in groups %}
            <option value="{{group.id}}">{{group.name}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
</div>

<div class='dima-render' id='dima-render--group'></div>



{% endblock %}
