{% extends "base_unal.html" %}
{% block 'head-title' %} - Misión y visión{% endblock %}
{% block 'main' %}

<div class="container-lg">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Misión y visión</li>
      </ol>
    </nav>
  </div>
</div>
<hr>

<div class="container-lg">
  <div class="row">

    <h1 class="display-3" style="margin-top: 15px;">Misión y visión</h1>

    <h1 class="display-8" style="margin-top: 30px;">
    Misión
    </h1>
    <p class="lead">
      Fortalecer la investigación e innovación mediante el apoyo, acompañamiento y asesoría a los investigadores de la Sede, con el fin de promover su inserción en las redes nacionales e internacionales, y así articular las funciones misionales de la Universidad propiciando el desarrollo científico, cultural y tecnológico de la región.
    </p>

    <h1 class="display-8" style="margin-top: 30px;">
      Visión
    </h1>
    <p class="lead">
      La Dirección de Investigaciones será un centro de gestión y desarrollo de la investigación en la Universidad y un referente en la región para el año 2017, orientando sus esfuerzos en el posicionamiento y la inserción a redes de investigación nacional e internacional. Lo anterior a través del apoyo y la gestión de profesionales competentes y herramientas tecnológicas que generen visibilidad y permitan el mejoramiento continuo y el cumplimiento de la misión y la visión de la Universidad Nacional de Colombia.
    </p>


  </div>
</div>
{% endblock %}


