{% extends "base_unal.html" %}
{% block 'head-title' %} - Presentación{% endblock %}
{% block 'main' %}

<div class="container-lg">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Presentación</li>
      </ol>
    </nav>
  </div>
</div>
<hr>

<div class="container-lg">
  <div class="row">

    <h1 class="display-3" style="margin-top: 15px;">Presentación</h1>
    <p class="lead">
    La Dirección de Investigaciones de Manizales DIMA tiene como objeto principal orientar, promover y financiar a través de los recursos que se le asignen, las actividades de investigación en la Sede.
    </p>

    <h1 class="display-8" style="margin-top: 30px;">
    Corresponde a la Dirección de investigación y extensión de acuerdo con los lineamientos de la Vicerrectoría de investigación:
    </h1>
    <ul style='padding-left: 60px;'>
      <li><p class="lead">Implementar las políticas y reglamentaciones expedidas por el nivel nacional para la consolidación y articulación de los procesos de investigación y extensión de la Universidad.</p></li>
      <li><p class="lead">Articular la investigación y extensión con la formación académica en la sede.</p></li>
      <li><p class="lead">Realizar labores de coordinación y seguimiento de las bibliotecas de la sede en concordancia con las políticas del Sistema nacional de bibliotecas.</p></li>
      <li><p class="lead">Dirigir las actividades relacionadas con la innovación y la propiedad intelectual.</p></li>
      <li><p class="lead">Las demás que le asigne el Consejo de sede o el Vicerrector de sede y que sean acordes con las normas generales.</p></li>
    </ul>

    <h1 class="display-8" style="margin-top: 30px;">
      <b>Parágrafo:</b> A la Dirección de investigación y extensión estarán adscritas las siguientes dependencias:
    </h1>

    <ul style='padding-left: 60px;'>
      <li><p class="lead">División de investigación</p></li>
      <li><p class="lead">División de extensión</p></li>
      <li><p class="lead">Sección de bibliotecas</p></li>
      <li><p class="lead">Para mayor información consulte <a href='http://www.legal.unal.edu.co/sisjurun/normas/Norma1.jsp?i=71731'>Acuerdo 165 de 2014</a></p></li>
    </ul>

  </div>
</div>
{% endblock %}

